<template>
    <div>
        <div class="crumbs">
            <Breadcrumb>
                <BreadcrumbItem to="/">首页</BreadcrumbItem>
                <BreadcrumbItem>系统管理</BreadcrumbItem>
                <BreadcrumbItem>用户管理</BreadcrumbItem>
            </Breadcrumb>
        </div>
        <list @onEditRow="onEditRow">
            <Button type="primary" @click="onAddUser">添加用户</Button>
        </list>
        <Add :visible.sync="visible" :type="type"></Add>
    </div>
</template>
<script>/* eslint-disable */
import List from './list.vue'
import Add from './add.vue'
export default {
    data(){
        return {
            visible:false,
            type:'add'
        }
    },
    methods: {
        onAddUser(){
            this.visible=true;
            this.type='add'
        },
        onEditRow(row){
            this.type='edit';
            this.visible=true;
        }
    },
    components: {
        List, Add
    }
}
</script>
